$tone-primary: #1e874c !default;
$tone-white: white !default;
$tone-brown: #555555 !default;
$tone-gray: #fcfcfc !default;
$line-height: 1.2;
$color-page-header: #e9ef04;

.highlight-primary {
    color: $tone-primary !important;
}
